
fieldset {
    border: none;
}


input[type="text"],
input[type="email"],
input[type="tel"] {
    padding: 0.5rem;
}

button[type="submit"],
input[type="submit"] {
    background: none;
    border: 0.1rem solid;
}