form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;

	fieldset {
		border: none;
		padding: 0;

		legend {
			margin: 0 0 1rem 0;
		}

		label {
			&.invalid input, &.invalid textarea {
				border: .1rem solid color(invalid);
			}

			&.valid input, &.valid textarea {
				border: .1rem solid color(valid);
			}

			input:focus-visible, textarea:focus-visible {
				outline: .1rem solid color(outline);
			}

			&[for="bericht"] {
				textarea {
					margin: .5rem 0 0 0;
				}
			}
		}

		.label-container {
			display: flex;
			flex-direction: column;
			gap: 1rem;

			.name-container {
				display: flex;
				gap: 1rem;

				label[for="voornaam"], label[for="achternaam"] {
					flex: 1;
				}
			}
		}
	}

	button {
		transition: background 0.3s ease;

		&:hover {
			background: color(button-hover);
		}
	}
}

/* success.php */
.form-results {
	.label-container {
		display: flex;
		flex-direction: column;
	}
}

/* general styling */
textarea {
	padding: .5rem .5rem .5rem;
	resize: none;
}

input[type="text"],
input[type="email"],
textarea {
	background-color: color(tertiary-dark-accent);
	color: color(primary);
	margin: .5rem 0 .5rem 0;
	border-radius: .5rem;
	border: none;
	width: 100%;
	padding: .5rem;

	&::placeholder {
		color: color(primary);
		opacity: 0.7;
	}
}

button[type="submit"],
input[type="submit"] {
	color: inherit;
	background: color(tertiary-light-accent);
	border-radius: 0.3rem;
	border: none;
	margin: 1rem 0 0 0;
	padding: 0.75rem;
	width: 10rem;
	cursor: pointer;
}

main,
input[type="text"],
input[type="email"],
textarea,
button[type="submit"],
input[type="submit"],
footer {
	letter-spacing: .05rem;
}

/* Additional validation error messages */
.hidden {
	display: none;
}

.error {
	color: color(invalid);
}
