@import '../helpers/mixins';
@import '../helpers/functions';
@import '../helpers/variables';

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	background-color: color(tertiary);
	color: color(primary);
}


.contact-container {
	display: flex;
	gap: 2rem;
	align-items: stretch;

	.image-container,
		form {
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 0;
		}

		picture {
			display: flex;
			align-items: center;
			padding: 0;
			height: 34rem;

			img {
				border-radius: 1rem;
				width: 100%;
				height: auto;
				max-height: 100%;
				object-fit: cover;
			}
		}
}

/* Responsive design */
@media (max-width: $breakpoint-medium) {
	.name-container {
		flex-direction: column;
		gap: 0;
	}

	.contact-container {
		flex-direction: column;
		margin-top: 25%;

		picture {
			height: 10rem;
		}
	}

	.image-container {
		justify-content: center;
	}
}