.results {
	justify-content: center;
}

section.success {
	p {
		margin: 0 0 2rem 0;
	}
	section.form-results {
		background-color: color(tertiary-dark-accent);
		padding: 2rem;
		border-radius: 1rem;

		.label-container {
			p {
				margin: 0 0 .75rem 0;
				padding: 0;
			}

			p:first-child {
				font-weight: $font-weight-bold;
			}
		}
	}
}