$colors: (
        primary: #000,
        secondary: #fff,
);


// Fonts
/*$font-heading: 'microgramma-extended', sans-serif;*/
$font-heading: "Urbanist", sans-serif;
$font-body: 'Red Hat Display', sans-serif;

$font-weight-normal: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

// Default font weight variables?
