$colors: (
        primary: #000,
        secondary: #fff,
);


// Fonts
$font-heading: "microgramma-extended", sans-serif;
$font-body: 'Red Hat Display', sans-serif;

$font-weight-normal: 500;
$font-weight-bold: 700;

// Default font weight variables?
